.login,
.register {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  animation: scaleUp 0.7s ease-in-out;
}

@keyframes scaleUp {
  0% {
    opacity: 0;
    transform: scaleY(0%);
  }
  50% {
    filter: drop-shadow(0px 0px 100px rgba(255, 255, 255, 0.343));
  }
  100% {
    filter: drop-shadow(0px 0px 100px rgba(255, 255, 255, 0));
    opacity: 1;
    transform: scaleY(100%);
  }
}

.input {
  width: 300px !important;
}

.submit-button,
.register-button {
  width: 300px;
}

.input:focus .form-floating-label {
  color: green !important;
}

.input:focus {
  border-color: green !important;
  box-shadow: 0 0 0 0.25rem rgba(40, 167, 69, 0.25) !important;
}

.hide {
  display: none;
}

.button-group {
  margin-top: 10px;
  display: flex;
  flex-direction: column;

  gap: 10px;
}

.header {
  color: white !important;
  text-align: center;
}

button {
  box-shadow: 0px 0px 10px green;
}
@keyframes fadeOutAndScaleDown {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.5);
    display: none;
  }
}
