.login .register {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  animation: scaleUp 0.5s ease-in-out;
}

@keyframes scaleUp {
  0% {
    transform: scaleY(0%);
  }
  100% {
    transform: scaleY(100%);
  }
}

.input {
  width: 300px !important;
}

.submit-button,
.register-button {
  width: 300px;
}

.input:focus .form-floating-label {
  color: green !important;
}

.input:focus {
  border-color: green !important;
  box-shadow: 0 0 0 0.25rem rgba(40, 167, 69, 0.25) !important;
}

.hide {
  display: none;
}

.button-group {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  
  gap: 10px;
}

.header {
  color: white !important;
  text-align: center;
}

button {
  box-shadow: 0px 0px 10px green;
}
